In [21]:
'''
백준 문제 번호 12865번 : 평범한 배낭

'''


n, k = map(int, input().split())

data = []
for _ in range(n) :
    data.append(list(map(int, input().split())))
    
data.sort(key=lambda x : x[1])

result = 0

for _ in range(n):
    if not data :
        break
    temp_max = 0
    nk = k 
    while(1) :
        if not data :
            break
        weight, value = data[-1]
        if (nk - weight) >= 0 :
            nk -= weight
            temp_max += value
        else :
            break
        data.pop(-1)
    
    if temp_max > result : 
        result = temp_max
    #print(result,data)
   
        
        
print(result)

4 8
6 13
5 12
4 8
3 5
13

In [23]:
A,B = map(int, input().split())

if A > B :
    print('>')
elif A<B :
    print('<')
else :
    print('==')

1 2
<

In [24]:
input_data = int(input())

if 100 >= input_data >= 90 :
    print('A')
elif 89 >= input_data >= 80 :
    print('B')
elif 79 >= input_data >= 70 :
    print('C') 
elif 69 >= input_data >= 60 :
    print('D')
else :
    print('F')

100
A

In [30]:
data = int(input())
if data % 4 == 0 and (data % 100 !=0 or data%400==0 ) :
    print('1')
else:
    print('0')

1900

In [35]:
x = int(input())
y = int(input())


if x > 0 : 
    if y > 0 :
        print('1')
    else:
        print('4')
else :
    if y > 0 :
        print('2')
    else :
        print('3')

5
12
1

In [43]:
h , m = map(int ,input().split())

tmp = m - 45 

if tmp < 0 :
    m = 60 + tmp
    h-=1
else :
    m = tmp

if h < 0 :
    h = 24 + h
print(h,m)

23 40
22 55

In [56]:
h , m = map(int ,input().split())
time = int(input())


m += time

if m >=60 :
    h += ( m/ 60 ) 
    m %=60
    
if h>=24 :
    h-= 24
print(int(h),m)

10 22
25
10 47

In [60]:
x,y,z = map(int , input().split())

if x==y==z :
    print( 10000 + x * 1000)
elif x==y and y != z:
    print(1000 + x *100)
elif x==z and y!=z :
    print(1000 + x *100)
elif y==z and x!=z :
    print(1000 + y *100)
else :
    print(max(x,y,z) * 100)

6 6 2
1600

In [63]:
data = int(input())

for i in range(9):
    print( data ,'*',i+1,'=',data*(i+1))

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [64]:
n = int(input())
data = []
for i in range(n) :
    x,y = map(int,input().split())
    data.append(x+y)
    
for i in range(len(data)) :
    print(data[i])

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

In [66]:
data = int(input())
sum = 0
for i in range(data+1) :
    sum+=i
print(sum)

3
6